body {
  font-family: 'Gotham', sans-serif;
  background-color: #191414;
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin: 0px;
}
.header {
  margin: 64px;
}
.mainContent {
  margin: 64px;
}
.title {
  font-weight: 800;
  font-size: 36px;
}
.boldText {
  font-weight: 500;
}
nav > div {
  background-color: #222326;
}
nav {
  background-color: #222326;
}
body > nav > div > span {
  color: white !important;
}
.navbar-text {
  color: white;
}
a:link {
  color: #1DB954 !important;
}

a:visited {
  color: #1DB954 !important;
}

a:hover {
  color: #25db65 !important;
}
a:active {
  color: #1bad4e !important;
}
.nav-link:hover {
  background-color: #36383c;
}
nav > div > button {
  background-color: #1DB954 !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
nav > div > button:hover {
  background-color: #25db65 !important;
  transition: 0.2s;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
nav > div > button:active {
  background-color: #1bad4e !important;
  transition: 0.2s;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.preview {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5vw;
  max-height: 550px;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px 30px 0px;
}
.rightArrows {
  font-size: 18vw;
  color: white;
  text-shadow: #1DB95440 5px 5px, #1DB95430 10px 10px;
  margin-left: 1vw;
}
.exampleImg {
  max-width: 400px;
  max-height: 530px;
  height: 40vw;
  width: 30vw;
  object-position: 100% 0;
  box-shadow: #1DB95440 10px 10px, #1DB95430 20px 20px;
  content-visibility: fill;
}
.footer {
  background-color: #222326;
  height: 200px;
  padding: 0px 64px;
}
.subFooter {
  height: 60px;
  padding: 10px 64px;
}
.subFooter > p {
  float: right;
  padding-top: 10px;
  font-size: 12px;
}
.spotifyLoginBtn, .submitSetlistInput, .generatePlaylistBtn {
  font-family: 'Gotham', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  background-color: #1DB954;
  border: none;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
  width: 100%;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 0px 10px 20px 10px;
  display: block;
  margin-left: auto;
}
.spotifyLoginBtn:hover, .submitSetlistInput:hover, .generatePlaylistBtn:hover {
  background-color: #25db65;
  transition: 0.2s;
}
.spotifyLoginBtn:active, .submitSetlistInput:active, .generatePlaylistBtn:active {
  background-color: #1bad4e;
  transition: 0.2s;
}
.submitSetlistInput {
  margin-top: 50px;
}
.submitSetlistInput:disabled {
  opacity: .5;
  cursor: default;
  pointer-events: none;
}
input:hover {
  cursor: text;
}
select:hover {
  cursor: pointer;
}
body > div.mainContent.container > div > div:nth-child(1) > ul > li {
  font-size: 20px;
}
.playlistCreatedInfo {
  background-color: #1DB954;
  height: 200px;
  margin-bottom: 60px;
  text-align: center;
  padding-top: 40px;
  transition: 5s;
}

.playlistCreatedInfo > a:link {
  color: white !important;
}

.playlistCreatedInfo > a:visited {
  color: white !important;
}

.playlistCreatedInfo > a:hover {
  color: white !important;
  opacity: .75;
}
.playlistCreatedInfo > a:active {
  color: white !important;
}
